<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>ListProducts</title>
</head>
<body>
<h3>Products</h3>
<p>
    <a th:href="@{/products/create}">
        Add new product
    </a>
</p>
<div>
    <form action="" method="get">
        <input type="text" name="searchName" th:value="${searchName}">
        <button type="submit">Tìm kiếm</button>
    </form>

<!--    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">-->
<!--        Launch demo modal-->
<!--    </button>-->
</div>
<table id = "products">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Brand</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${products}">
        <td th:text="${row.id}"></td>
        <td th:text="${row.name}"></td>
        <td th:text="${row.price}"></td>
        <td th:text="${row.description}"></td>
        <td th:text="${row.brand}"></td>
        <td><a th:href="@{/products/edit/{id}(id=${row.id})}">edit</a></td>
        <td><a th:href="@{/products/delete/__${row.id}__}">delete</a></td>
<!--        <td><a href="#" th:onclick="|deleteItem('${row.id}', '${row.name}')|" data-bs-toggle="modal" data-bs-target="#exampleModal">delete</a></td>-->
<!--        <td>-->
<!--            <a href="#"-->
<!--               th:onclick="|deleteItem('${row.id}', '[[${row.name]]')|"-->
<!--               data-bs-toggle="modal"-->
<!--               data-bs-target="#exampleModal">-->
<!--                delete-->
<!--            </a>-->
<!--        </td>-->
        <td><a th:href="@{/products/{id}/view(id=${row.getId()})}">view</a></td>

    </tr>
    <script>
        function deleteItem(id, name) {
            document.getElementById("item_id").value = id;
            document.getElementById("item_name").innerText = name;

            console.log("id " + id);
            console.log("name " + name)
        }
    </script>
    </tbody>
</table>
<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>
<footer th:replace="/layout :: footer"></footer>
<div th:replace="/layout :: modal"></div>
<div th:replace="/layout :: script"></div>

</body>
</html>