<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="#{create.new}"></title>
    <div th:replace="fragments/layout :: libraries"></div>
</head>
<body>
<div th:replace="fragments/layout :: nav"></div>
<a href="/blogs" th:text="#{create.backToList}"></a>
<form th:action="@{/blogs/new}" th:object="${blog}" method="post">
    <table>
        <input type="hidden" th:field="*{id}">
        <tr>
            <td th:text="#{index.user}"></td>
            <td>
                <select th:field="*{myUser}">
                    <option th:each="item:${myUsers}" th:value="${item.id}" th:text="${item.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td th:text="#{index.category}"></td>
            <td>
                <select th:field="*{category}">
                    <option th:each="item:${categories}" th:value="${item.id}" th:text="${item.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td th:text="#{index.title}"></td>
            <td>
                <input type="text" th:field="*{title}" id="title">
            </td>
        </tr>
        <tr>
            <td th:text="#{index.content}"></td>
            <td>
                <textarea th:field="*{content}" id="content" rows="4"></textarea>
            </td>
        </tr>
        <tr>
            <td th:text="#{index.date}"></td>
            <td>
                <input type="date" th:field="*{date}" readonly>
            </td>
        </tr>
    </table>
    <button th:if="${isEdit == null}" th:text="#{create.newBtn}"></button>
    <button th:unless="${isEdit == null}" th:text="#{create.updateBtn}"></button>
</form>
</body>
</html>